/* CSS voor het centreren van de titel en het draaien van de letter "a" */
.title-container {
  color: #1d70b7;
  text-align: center;
  position: relative; /* Zorgt ervoor dat het logo relatief aan de titel kan worden gepositioneerd */
}

.rotate-a {
  display: inline-block;
  color: #008d36;
  transform: rotate(-45deg);
  margin-right: 8px; /* Extra ruimte toegevoegd tussen de gedraaide letter "a" en de letter "r" */
}

/* CSS voor het positioneren van het logo naast de titel */
.logo {
  height: 2em; /* Hoogte van het logo */
  margin-left: 10px; /* Ruimte toevoegen tussen de titel en het logo */
}

/* CSS voor het instellen van de achtergrondkleur */
body {
  background-color: #f2f2f2; /* Lichtgrijze achtergrond */
}

/* CSS voor het instellen van de knopstijl */
.btn-primary {
  background-color: #1d70b7; /* Donkerblauwe achtergrond voor de knop */
  border-color: #1d70b7; /* Randkleur van de knop */
}

.btn-primary:hover {
  background-color: #135187; /* Donkerblauwe achtergrond voor de knop bij hover */
  border-color: #135187; /* Randkleur van de knop bij hover */
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(29, 112, 183, 0.5); /* Schaduw voor de knop bij focus */
}

/* CSS voor de ruimte boven de knop */
.google-login-btn {
  margin-top: 20px; /* Voeg wat ruimte toe tussen de titel en de knop */
}

/* CSS voor het centreren van de knop */
#index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
